process {
    publishDir = {"./results/$sid/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    //**Global options**//
        b0_thr_extract_b0=10
        dwi_shell_tolerance=20

    //**Preliminary DWI brain extraction**//
        dilate_b0_mask_prelim_brain_extraction=5
        bet_prelim_f=0.16

    //**Denoise dwi (dwidenoise in Mrtrix3)**//
        run_dwi_denoising=true
        extent=7

    //**Topup**//
        run_topup=true
        config_topup="b02b0.cnf"
        encoding_direction="y"
        dwell_time=0.062
        prefix_topup="topup_results"

    //**Eddy**//
        run_eddy=true
        eddy_cmd="eddy_openmp"
        bet_topup_before_eddy_f=0.16
        use_slice_drop_correction=true

    //**Final DWI BET**//
        bet_dwi_final_f=0.16

    //**Resample T1**//
        run_resample_t1=true
        t1_resolution=1
        t1_interpolation="lin"

    //**Resample DWI**//
        run_resample_dwi=true
        dwi_resolution=1
        dwi_interpolation="cubic"

    //**DTI shells**//
        dti_shells="0 300 1000"

    //**fODF shells**//
        fodf_shells="0 1000 2000"

    //**Segment tissues**//
        number_of_tissues=3

    //**Compute fiber response function (frf)**//
        fa=0.7
        min_fa=0.5
        min_nvox=300
        roi_radius=20
        set_frf=false
        manual_frf="15,4,4"

    //**Mean fiber response function (frf)**//
        mean_frf=true

    //**Compute fODF metrics**//
        sh_order=8
        basis="fibernav"
        fodf_metrics_a_factor=2.0
        relative_threshold=0.1
        max_fa_in_ventricules=0.1
        min_md_in_ventricules=0.003

    //**Seeding mask**//
        wm_seeding=true

    //**PFT tracking**//
        compress_streamlines=true
        algo="prob"
        seeding="npv"
        nbr_seeds=10
        random=0
        step=0.5
        theta=20
        sfthres=0.1
        sfthres_init=0.5
        minL=10
        maxL=300
        particles=15
        back=2
        front=1
        compress_value=0.2

    //**Number of processes per tasks**//
        processes_brain_extraction_t1=8
        processes_denoise_dwi=4
        processes_denoise_t1=4
        processes_eddy=1
        processes_fodf=4
        processes_registration=4

    //**Output directory**//
        output_dir=false

    //**Process control**//
        processes = false
    
    MeanFRFPublishDir = {"./results/Mean_FRF"}
}

env {
    ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS=1
    MRTRIX_NTHREADS=1
    OMP_NUM_THREADS=1
    OPENBLAS_NUM_THREADS=1
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
    params.MeanFRFPublishDir = {"$params.output_dir/Mean_FRF"}
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}

singularity {
    runOptions='--nv'
}
