process {
    publishDir = {"./results/$dir_id/$task.process"}
    scratch = true
    errorStrategy = 'retry'
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
}

params {
    //current options
    b0_thr_extract_b0=10
    dwi_shell_tolerance=20

    //prelim_bet_dwi
    dilate_b0_mask_prelim_bet=5

    //denoise_dwi
    do_denoising_dwi=true
    extent=7

    //eddy
    eddy = false
    eddy_cmd="eddy_openmp"
    config_eddy="b02b0.cnf"
    encoding_direction="y"
    dwell_time=0.062

    //resample_t1
    do_resample_t1=true
    t1_resolution=1
    t1_interpolation="lin"

    //resample_dwi
    do_resample_dwi=true
    dwi_resolution=1
    dwi_interpolation="cubic"

    //dti_shells (generally b < 1200)
    dti_shells = "0 300 1000"

    //fodf_shells (generally b > 700)
    fodf_shells = "0 1000 2000"

    //segment_tissues
    type_of_image = 1
    number_of_tissue = 3
    spatial_smoothness = 0.1
    number_of_iter_for_bias_field = 4
    lowpass = 20.0

    //compute_frf
    fa = 0.7
    min_fa = 0.5
    min_nvox = 300
    roi_radius = 20
    fix_response = false
    frf = "15,4,4"

    //mean_frf
    mean_frf=true

    //fodf
    // sh=8 for 45 directions
    // sh=6 for 28 directions
    sh_order = 8
    basis = "fibernav"
    fodf_metrics_a_factor=2.0

    //seeding_mask
    wm_seeding=true

    //tracking
    do_compress_streamlines=true
    algo = "prob"
    seeding = "npv"
    nbr_seeds = 10
    random = 0
    step = 0.5
    rk_order = 2
    theta = 20
    maxL_no_dir = 1
    sfthres = 0.1
    sfthres_init = 0.5
    minL = 10
    maxL = 300
    sh_interp = "tl"
    mask_interp = "nn"
    particles = 15
    back = 2
    front = 1
    pft_theta = 20
    compress_value = 0.2

    //processes ajouter bet_dwi denoise_dwi
    processes_bet_dwi=4
    processes_bet_t1=8
    processes_denoise_dwi=4
    processes_denoise_t1=4
    processes_eddy=8
    processes_fodf=4
    processes_registration=8
    processes_tracking=8

    processes=8
    output_dir=false
}

env {
    ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS=1
    MRTRIX_NTHREADS=1
    OMP_NUM_THREADS=1
    OPENBLAS_NUM_THREADS=1
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$dir_id/$task.process"}
}