params.output_dir = false

process {
    publishDir = {"./preprocess/$dir_id/"}
    scratch = true
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
}

params {
    flipx = false
    flipy = false
    flipz = false
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$dir_id/"}
}
